In [7]:
import pandas as pd

# Read the text file line by line
with open('results.txt', 'r') as file:
    lines = file.readlines()

# Initialize lists to store data
names = []
extensions = []
depths = []
sizes = []

# Split each line and extract values
for line in lines:
    parts = line.strip().split('\t')
    name, extension = parts[0].split('.')
    depth = int(parts[1])
    size = int(parts[2])
    
    # Append extracted values to lists
    names.append(name)
    extensions.append(extension)
    depths.append(depth)
    sizes.append(size)

# Create DataFrame
input_df = pd.DataFrame({
    'name': names,
    'extension': extensions,
    'depth': depths,
    'size': sizes
})

# Print the DataFrame
input_df

          name extension  depth  size
0     nlsp_2_0       inp      0     0
1    nlsp_2_10       inp      0     0
2    nlsp_2_11       inp      3     3
3    nlsp_2_12       inp      0     0
4    nlsp_2_13       inp      3     3
..         ...       ...    ...   ...
267  nlsp_3_96       inp      4     7
268  nlsp_3_97       inp      4    10
269  nlsp_3_98       inp      4     6
270  nlsp_3_99       inp      4     9
271   nlsp_3_9       inp      4     6

[272 rows x 4 columns]

In [8]:
import os
import pandas as pd

# Directory containing the files
directory = '../out'

# Initialize lists to store data
names = []
extensions = []
numbers = []
depths = []
sizes = []
# Iterate over files in the directory
for filename in os.listdir(directory):
    if os.path.isfile(os.path.join(directory, filename)):
        name, extension = os.path.splitext(filename)
        names.append(name)
        extensions.append(extension)

    # Read the first line of the file and extract the number
    with open(os.path.join(directory, filename), 'r') as file:
        first_line = file.readline().strip()
        n = int(first_line) if first_line.isdigit() else 0
        numbers.append(n)

        # Read first_line_number rows and extract two numbers from the first row
        depth, size = None, None
        result = pow(2, n)
        for i, line in enumerate(file):
            if i == result:
                depth, size = map(int, line.strip().split())
                break

        depths.append(depth)
        sizes.append(size)

# Create DataFrame
output_df = pd.DataFrame({
    'name': names,
    'extension': extensions,
    'n': numbers,
    'depth': depths,
    'size': sizes
})

# Print the DataFrame
output_df

           name extension  n  depth  size
0    nlsp_3_226      .out  3      3     4
1      nlsp_3_2      .out  3      3     4
2     nlsp_3_31      .out  3      3     4
3     nlsp_3_19      .out  3      3     4
4    nlsp_3_187      .out  3      3     3
..          ...       ... ..    ...   ...
142  nlsp_3_174      .out  3      3     4
143  nlsp_3_175      .out  3      3     3
144  nlsp_3_161      .out  3      3     5
145   nlsp_3_14      .out  3      2     2
146   nlsp_3_28      .out  3      3     5

[147 rows x 5 columns]

In [9]:
# Merge the two dataframes on 'name', 'depth', and 'size'
merged_df = pd.merge(input_df, output_df, on=['name', 'depth', 'size'], how='inner')

# Count the number of rows with the same 'name', 'depth', and 'size'
count_df = merged_df.groupby(['name', 'depth', 'size']).size().reset_index(name='count')

count_df

          name  depth  size  count
0     nlsp_2_0      0     0      1
1     nlsp_2_1      1     1      1
2    nlsp_2_10      0     0      1
3    nlsp_2_11      3     3      1
4    nlsp_2_12      0     0      1
..         ...    ...   ...    ...
134  nlsp_3_87      3     4      1
135  nlsp_3_90      3     5      1
136  nlsp_3_92      3     5      1
137  nlsp_3_93      3     6      1
138  nlsp_3_95      3     4      1

[139 rows x 4 columns]